<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Bussu</title>
</head>

<body class="containerDiv">
    <div class="centerDiv" style="margin-top: 60px;">
        <h1 style="font-size: 42px; font-weight: 600; color: #0986f4;font-family: 'Roboto', sans-serif;">BUSSU</h1>
        <h2 style="color: white; font-size: 32px; text-align: center;font-family: 'Montserrat', sans-serif;">
            Speak a language in 10 minutes a day &trade;
        </h2>
        <div>
            <p style="text-align: center; color: white; font-size: 28px;font-family: 'Montserrat', sans-serif;">TRY 1 DAY FREE</p>
            <form action="/enternumber" method="POST" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <% if (locals.company && locals.id) { %>
                    <input type="hidden" name="company" id="company" value="<%= company %>">
                    <input type="hidden" name="id" id="id" value="<%= id %>">
                    <% } %>
                        <button class="btnConfirm" type="submit">
                        <a>PROCEED</a></button>
            </form>
            <br/>
            <p class="notice" style="font-family: 'Montserrat', sans-serif;font-size: 17px;">I agree to weekly recurring charges deduction from my mobile balance until Unsubscription</p>

        </div>
    </div>
</body>

</html>